<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- <include resource="org/springframework/boot/logging/logback/base.xml"/> -->
	<conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
	<conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />
	<conversionRule conversionWord="wEx" converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter" />
	<property name="LOG_PATH" value="${LOG_PATH:-.}"></property>
	<property name="CONSOLE_LOG_PATTERN"
		value="${CONSOLE_LOG_PATTERN:-%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}" />
	<property name="FILE_LOG_PATTERN"
		value="${FILE_LOG_PATTERN:-%d{yyyy-MM-dd HH:mm:ss.SSS} ${LOG_LEVEL_PATTERN:-%5p} ${PID:- } --- [%t] %-40.40logger{39} : %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}" />
	<property name="OPERATION_LOG_PATTERN" value="${OPERATION_LOG_PATTERN:-%m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx} }" />
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${CONSOLE_LOG_PATTERN}</pattern>
			<charset>utf8</charset>
		</encoder>
	</appender>

	<!-- <appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>${FILE_LOG_PATTERN}</pattern>
			记录日志的编码:此处设置字符集 -
			<charset>UTF-8</charset>
		</encoder>
		<file>${LOG_PATH}/example.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			活动文件的名字会根据fileNamePattern的值，每隔一段时间改变一次
			文件名：log/demo.2017-12-05.0.log
			<fileNamePattern>${LOG_PATH}/example.log.%d-%i.gz</fileNamePattern>
			每产生一个日志文件，该日志文件的保存期限为30天
			<maxHistory>30</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				maxFileSize:这是活动文件的大小，默认值是10MB，测试时可改成1KB看效果
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>  -->
	
	<appender name="OPERATION_LOG_FILE"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${OPERATION_LOG_PATTERN}</pattern>
			<!-- 记录日志的编码:此处设置字符集 - -->
			<charset>UTF-8</charset>
		</encoder>
		<!-- <file>${LOG_PATH}/operation-log/operation-oauth.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			活动文件的名字会根据fileNamePattern的值，每隔一段时间改变一次
			文件名：log/demo.2017-12-05.0.log
			<fileNamePattern>${LOG_PATH}/operation-log/operation-oauth.log.%d-%i.gz</fileNamePattern>
			每产生一个日志文件，该日志文件的保存期限为30天
			<maxHistory>30</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				maxFileSize:这是活动文件的大小，默认值是10MB，测试时可改成1KB看效果
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy> -->
	</appender>

	<root level="INFO">
		<appender-ref ref="CONSOLE" />
		<!-- <appender-ref ref="FILE" /> -->
	</root>

	<!-- 指定项目中某个包，当有日志操作行为时的日志记录级别 -->
	<!-- com.liyan为根包，也就是只要是发生在这个根包下面的所有日志操作行为的权限都是DEBUG -->
	<!-- 级别依次为【从高到低】：FATAL > ERROR > WARN > INFO > DEBUG > TRACE -->
	<logger name="com.sinocarbon.integral" level="DEBUG" additivity="false">
		<appender-ref ref="CONSOLE" />
	</logger>
	<!-- <logger name="com.sinocarbon.polaris" level="DEBUG" additivity="false">
		<appender-ref ref="FILE" />
	</logger> -->
	<logger name="com.sinocarbon.polaris.commons.utils.LogCommonsUtils" additivity="false">
		<appender-ref ref="OPERATION_LOG_FILE" />
	</logger>

</configuration>