<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinocarbon.test.client.dao.GirlMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sinocarbon.test.client.pojo.Girl">
        <id column="id" property="id" />
        <result column="cup_size" property="cupSize" />
        <result column="age" property="age" />
    </resultMap>
    
    <select id="listGirls" resultMap="BaseResultMap">
        select
            id,
            cup_size,
            age
        from girl
    </select>
    
    <select id="findGirlByAge" resultMap="BaseResultMap">
         select
            id,
            cup_size,
            age
        from girl 
        where age = #{age}
    </select>
    
    <insert id="insertGirl" parameterType="com.sinocarbon.test.client.pojo.Girl">
		insert into
		    girl(id, cup_size, age)
		values(#{id}, #{cupSize},#{age, jdbcType=INTEGER}) 
    </insert>
    
    <delete id="deleteGirl" parameterType="int">
        delete from
            girl
        where
            id = #{id}
    </delete>
    
    <update id="updateGirl" parameterType="com.sinocarbon.test.client.pojo.Girl" keyProperty="id" useGeneratedKeys="true">
        update
            girl
        set
            age = #{age},
            cup_size = #{cupSize} 
        where
            id = #{id} 
    </update>
    
</mapper>

