<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinocarbon.test.client.dao.TEmpMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sinocarbon.test.client.pojo.TEmp">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="salary" property="salary" />
        <result column="dept_id" property="dept_id" />
    </resultMap>

    <select id = "selectById" parameterType = "int" resultMap = "BaseResultMap">
     SELECT
	     e.id ,
	     e.name,
	     e.salary	    
	  FROM
	    t_emp e	
	    where
	    e.id = #{id}
    </select>
</mapper>
